img{
    height: 500px;
    width: 600;
}

.wrapper{
    height: 600px;
    width: 700px;
    overflow: auto;
 
}

.wrapper1{
    height: 200px;
    width: 200px;
    overflow: hidden;
    
}
.wrapper2{
    height: 200px;
    width: 200px;
    overflow: scroll;
  
}
.wrapper3{
    height: 600;
    width: 700;
    overflow: visible;
   
}